:root {
  --background: #FFFFFF;
  --footer: #383838;
  --text: #2C3E50;
  --links: black;
  --test: blue;
  --button-dark: #2C3E50; 
  --button-light: #2C3E50;
}

.app__dark {
  --background: #383838;
  --footer: #181818;
  --text: #E0E0E0;
  --links: 	#E0E0E0;
  --test: orange;
}